@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('img/background.jpg');
}

.wrapper {
  width: 605px;
  background: #ffffff;
  border-radius: 30px;
  padding: 30px 60px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, .content :where(i, p, span){
  color: #202842;
}

.wrapper header {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.quote-area {
  width: 80%;
  margin-bottom: 15px;
}

.quote-area .quote {
  font-size: 32px;
  line-height: 1.5;
  font-family: 'Dancing Script', cursive;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.author span:first-child {
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.features {
  display: flex;
  align-items: center;
}

.features ul {
  display: flex;
  list-style: none;
  margin-right: 25px;
}

.features ul li {
  margin-right: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  color: #ccc;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  transition: all 0.3s ease;
  margin-left: 15px;
}

.features ul li:hover,
.features ul li.active {
  color: #fff;
  background-color: #444;
  border: 2px solid #444;
}

.buttons button {
  border: none;
  color: #fff;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #007bff;
  transition: all 0.3s ease;
}

.buttons button:hover {
  background-color: #0062cc;
}

.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}
